{
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    "@babel/transform-runtime",
    "./babel-plugin-special-symbols",
    [
      "@babel/plugin-transform-modules-commonjs",
      {
        "strictMode": false
      }
    ]
  ]
}